@page "/"

<h3>SkriveBord</h3>

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IUnionActivityData _db
@inject NavigationManager NavigationManager

<div class="container col-lg-12" style="margin: 20px;">
    <div class="row col-lg-12" style="">
        <!--Box 1-->
        <div class="col-md-4 col-lg-4" style="text-align: center;">
            <div style="background-color: #3846c0; border-radius: 10px; padding: 5px;">
                <div style="padding: 1px; margin: 10px;">
                    <p class="h4" style="text-align: left; font-weight: bold; color: white;">Kommende begivenheder </p>
                </div>

                <!--TABLE-->
                <div style="background-color: white; border-radius: 10px; margin: 10px;">
                    @if (unionActivities == null)
                    {
                        <p>Loading...</p>
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <tbody class="table-group-divider">
                                @foreach (var unionActivity in unionActivities.Take(3))
                                {
                                    if (unionActivity.IsVisible)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="col-md-4 col-lg-4" style="text-align: left;">@unionActivity.DateOfActivity.ToShortDateString()</div>
                                                <div class="col-md-12 col-lg-12 h5" style="text-align: left;">@unionActivity.Name</div>
                                                <button class="btn btn-primary" @onclick="() => ShowUnionActivity(unionActivity.Id)"><i class="oi oi-info"></i></button>
                                                <button class="btn btn-primary" @onclick="() => GoToRegistration(unionActivity.Id)">Tilmeld</button>
                                            </th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div class="h4" style="font-weight: bold; padding: 5px;">
                Begivenheder
            </div>
        </div>

        <!--Box 2-->
        <div class="col-md-4 col-lg-4" style="text-align: center;">
            <div style="background-color: #3846c0; border-radius: 10px; padding: 5px;">
                <div style="padding: 1px; margin: 10px;">
                    <p class="h4" style="text-align: left; font-weight: bold; color: white;">Kommende begivenheder </p>
                </div>

                <!--TABLE-->
                <div style="background-color: white; border-radius: 10px; margin: 10px;">
                    @if (unionActivities == null)
                    {
                        <p>Loading...</p>
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <table class="table">
                            <tbody class="table-group-divider">
                                @foreach (var unionActivity in unionActivities.OrderBy(x => x.DateOfActivity).Take(3))
                                {
                                    if (unionActivity.IsVisible)
                                    {
                                        <tr>
                                            <th scope="row">
                                                <div class="col-md-4 col-lg-4" style="text-align: left;" @onclick="() =>ShowUnionActivity(unionActivity.Id)">@unionActivity.DateOfActivity.ToShortDateString()</div>
                                                <div class="col-md-12 col-lg-12 h5" style="text-align: left;">@unionActivity.Name</div>
                                                <button class="btn btn-primary" @onclick="() => ShowUnionActivity(unionActivity.Id)"><i class="oi oi-info"></i></button>
                                                <button class="btn btn-primary" @onclick="() => GoToRegistration(unionActivity.Id)">Tilmeld</button>
                                            </th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
            <div class="h4" style="font-weight: bold; padding: 5px;">
                Begivenheder
            </div>
        </div>
        <div class="col-md-4 col-lg-4">box 3</div>
    </div>
</div>



<!--                            <button class="btn btn-primary" @onclick="() => ShowUnionActivity(unionActivity.Id)">
                                
                            
                        </td>
                        <td>
                            -->

@code {

    private List<UnionActivityModel> unionActivities;



    protected override async Task OnInitializedAsync()
    {
        unionActivities = await _db.GetUnionActivities();
    }



    void ShowUnionActivity(int id)
    {
        NavigationManager.NavigateTo($"begivenheder/{id}");
    }


    void GoToRegistration(int id)
    {
        NavigationManager.NavigateTo($"begivenheder/tilmeld/{id}");
    }

}
