
.editorconfig
.vs/P3_Project/DesignTimeBuild/.dtbcache.v2
.vs/P3_Project/DesignTimeBuild/.dtbcache.v2
.vs/P3_Project/FileContentIndex/192d0bb4-b01b-43dd-8da0-e160e97e445b.vsidx
*.vsidx
.vs/P3_Project/v17/.suo
DataAccessLibrary/obj/DataAccessLibrary.csproj.nuget.dgspec.json
DataAccessLibrary/obj/DataAccessLibrary.csproj.nuget.g.props
DataAccessLibrary/obj/Debug/net6.0/DataAccessLibrary.GeneratedMSBuildEditorConfig.editorconfig
DataAccessLibrary/obj/Debug/net6.0/DataAccessLibrary.pdb
DataAccessLibrary/obj/project.assets.json
DataAccessLibrary/obj/project.nuget.cache
.vs/P3_Project/v17/.futdcache.v2
.vs/P3_Project/v17/.suo
.vs/ProjectEvaluation/p3_project.metadata.v5.1
.vs/ProjectEvaluation/p3_project.projects.v5.1
P3_Project/obj/Debug/net6.0/project.razor.vs.json
.vs/ProjectEvaluation/p3_project.metadata.v5.1
.vs/ProjectEvaluation/p3_project.projects.v5.1
P3_Project/obj/Debug/net6.0/project.razor.vs.json
P3_Project/bin/Debug/net6.0/P3_Project.dll
P3_Project/bin/Debug/net6.0/P3_Project.pdb
P3_Project/obj/Debug/net6.0/P3_Project.dll
P3_Project/obj/Debug/net6.0/P3_Project.pdb
P3_Project/obj/Debug/net6.0/ref/P3_Project.dll
P3_Project/obj/Debug/net6.0/refint/P3_Project.dll
P3_Project/obj/staticwebassets.pack.sentinel
