@page "/begivenheder/opretbegivenhed"


@using DataAccessLibrary
@using DataAccessLibrary.Models
@using P3_Project.Models
@using System
@using System.Data

@inject IUnionActivityData _db
@inject NavigationManager NavigationManager

<h3>CreateUnionActivity</h3>

<EditForm Model="@newUnionActivity" OnSubmit="@InsertUnionActivity">
    @if (FirstScreen)
    {
        <div>
            <label for="name">Overskrift</label>
            <InputText id="name" @bind-Value="newUnionActivity.Name"></InputText>
        </div>
        <div>
            <label for="description">Beskrivelse</label>
            <InputText id="description" @bind-Value="newUnionActivity.Description"></InputText>
        </div>
        <div>
            <label for="dateofactivity">Dato for afholdelse</label>
            <InputDate id="dateofactivity" @bind-Value="newUnionActivity.DateOfActivity"></InputDate>
        </div>
        <div>
            <label for="activityduration">Varighed</label>

        </div>
        <div>
            <label for="visibility"></label>
            <InputRadioGroup @bind-Value="@newUnionActivity.IsVisible" id="visibility">
                <InputRadio Value="true" /> Vis
                <InputRadio Value="false" /> Skjul
            </InputRadioGroup>
        </div>
        <button type="button" @onclick="NextScreen">Næste</button>
    }
    @if (!FirstScreen)
    {
        <p>Personlig Information</p>
        <div>
            <label for="requirename">Navn</label>
            <InputCheckbox @bind-Value="newUnionActivity.RequireName" id="requirename"></InputCheckbox>
        </div>
        <div>
            <label for="requireemail">E-mail</label>
            <InputCheckbox @bind-Value="newUnionActivity.RequireEmail" id="requireemail"></InputCheckbox>
        </div>
        <div>
            <label for="requirephone">Telefonnummer</label>
            <InputCheckbox @bind-Value="newUnionActivity.RequirePhonenumber" id="requirephone"></InputCheckbox>
        </div>

        @if (NumberOfInformation >= 1)
        {
            <div>
                <InputText @bind-Value="newUnionActivity.Information1"></InputText>
                @if (NumberOfInformation == 1)
                {
                    <button type="button" @onclick="RemoveInformation" class="btn btn-danger">
                        <i class="oi oi-trash"></i>
                    </button>
                }
            </div>
            
        }
        @if (NumberOfInformation >= 2)
        {
            <div>
                <InputText @bind-Value="newUnionActivity.Information2"></InputText>
                @if (NumberOfInformation == 2)
                {
                    <button type="button" @onclick="RemoveInformation" class="btn btn-danger">
                        <i class="oi oi-trash"></i>
                    </button>
                }
            </div>
            
        }
        @if (NumberOfInformation >= 3)
        {
            <div>
                <InputText @bind-Value="newUnionActivity.Information3"></InputText>
                @if (NumberOfInformation == 3)
                {
                    <button type="button" @onclick="RemoveInformation" class="btn btn-danger">
                        <i class="oi oi-trash"></i>
                    </button>
                }
            </div>
            
        }
        @if (NumberOfInformation >= 4)
        {
            <div>
                <InputText @bind-Value="newUnionActivity.Information4"></InputText>
                @if (NumberOfInformation == 4)
                {
                    <button type="button" @onclick="RemoveInformation" class="btn btn-danger">
                        <i class="oi oi-trash"></i>
                    </button>
                }
            </div>
            
        }
        @if (NumberOfInformation >= 5)
        {
            <div>
                <InputText @bind-Value="newUnionActivity.Information5"></InputText>
                @if (NumberOfInformation == 5)
                {
                    <button type="button" @onclick="RemoveInformation" class="btn btn-danger">
                        <i class="oi oi-trash"></i>
                    </button>
                }
            </div>
            
        }

        
         
        <button type="button" @onclick="AddNewInformation">+</button>
        <button type="button" @onclick="PreviousScreen">Forrige</button>

        <button type="submit" class="btn btn-primary">Tilføj</button>
    }
    
</EditForm>


@code {

    private DisplayUnionActivityModel newUnionActivity = new DisplayUnionActivityModel();

    private int NumberOfInformation = 0;



    public bool FirstScreen = true;


    protected override void OnInitialized()
    {
        //unionActivities.Add(unionActivity);
    }

    void AddNewInformation()
    {
        if (NumberOfInformation < 5)
        {
            NumberOfInformation++;
        }
    }

    void RemoveInformation()
    {
        if (NumberOfInformation > 0)
        {
            NumberOfInformation--;
        }
    }

    void Add(string information)
    {
        
    }

    private async Task InsertUnionActivity()
    {
        UnionActivityModel ua = new UnionActivityModel
            {
                Id = newUnionActivity.Id,
                Name = newUnionActivity.Name,
                Description = newUnionActivity.Description,
                DateOfActivity = newUnionActivity.DateOfActivity,
                IsVisible = newUnionActivity.IsVisible,
                RequireName = newUnionActivity.RequireName,
                RequireEmail = newUnionActivity.RequireEmail,
                RequirePhonenumber = newUnionActivity.RequirePhonenumber,
                Information1 = newUnionActivity.Information1,
                Information2 = newUnionActivity.Information2,
                Information3 = newUnionActivity.Information3,
                Information4 = newUnionActivity.Information4,
                Information5 = newUnionActivity.Information5
            };


        

        await _db.InsertUnionActivity(ua);

        newUnionActivity = new DisplayUnionActivityModel();

        NavigationManager.NavigateTo("begivenheder");
    }

    


    void NextScreen()
    {
        FirstScreen = false;
    }

    void PreviousScreen()
    {
        FirstScreen = true;
    }

}
