@page "/begivenheder/opretbegivenhed"


@using DataAccessLibrary
@using DataAccessLibrary.Models
@using P3_Project.Models

@inject IUnionActivityData _db
@inject NavigationManager NavigationManager

<h3>CreateUnionActivity</h3>

<EditForm Model="@newUnionActivity" OnSubmit="@InsertUnionActivity">
    @if (FirstScreen)
    {
        <div>
            <label for="name">Overskrift</label>
            <InputText id="name" @bind-Value="newUnionActivity.Name"></InputText>
        </div>
        <div>
            <label for="description">Beskrivelse</label>
            <InputText id="description" @bind-Value="newUnionActivity.Description"></InputText>
        </div>
        <div>
            <label for="dateofactivity">Dato for afholdelse</label>
            <InputDate id="dateofactivity" @bind-Value="newUnionActivity.DateOfActivity"></InputDate>
        </div>
        <div>
            <label for="activityduration">Varighed</label>

        </div>
        <div>
            <label for="visibility"></label>
            <InputRadioGroup @bind-Value="@newUnionActivity.IsVisible" id="visibility">
                <InputRadio Value="true" /> Vis
                <InputRadio Value="false" /> Skjul
            </InputRadioGroup>
        </div>
        <button type="button" @onclick="NextScreen">Næste</button>
    }
    @if (!FirstScreen)
    {
        <p>Personlig Information</p>
        foreach (var activity in unionActivities)
        {
            <div>
                <InputText @bind-Value="activity.Information"></InputText>
            </div>
            unionActivity.AllInformation.Add(activity.Information);
        } 
        <button type="button" @onclick="AddNewInformation">+</button>
        <button type="button" @onclick="PreviousScreen">Forrige</button>
    }
    <button type="submit" class="btn btn-primary">Tilføj</button>
</EditForm>


@code {

    private DisplayUnionActivityModel newUnionActivity = new DisplayUnionActivityModel();

    public UnionActivityModel unionActivity = new UnionActivityModel();
    public List<UnionActivityModel> unionActivities = new List<UnionActivityModel>();


    public bool FirstScreen = true;


    protected override void OnInitialized()
    {
        unionActivities.Add(unionActivity);
    }

    void AddNewInformation()
    {
        unionActivities.Add(new UnionActivityModel());
    }


    private async Task InsertUnionActivity()
    {
        UnionActivityModel ua = new UnionActivityModel
            {
                Id = newUnionActivity.Id,
                Name = newUnionActivity.Name,
                Description = newUnionActivity.Description,
                DateOfActivity = newUnionActivity.DateOfActivity,
                IsVisible = newUnionActivity.IsVisible

            };


        foreach (var information in unionActivity.AllInformation)
        {
            await _db.CheckIfColumnExistsElseCreate(information, "");
        }

        await _db.InsertUnionActivity(ua);

        newUnionActivity = new DisplayUnionActivityModel();

        NavigationManager.NavigateTo("begivenheder");
    }


    void NextScreen()
    {
        FirstScreen = false;
    }

    void PreviousScreen()
    {
        FirstScreen = true;
    }

}
