@page "/begivenheder/opretbegivenhed"


@using DataAccessLibrary
@using DataAccessLibrary.Models
@using P3_Project.Models
@using System
@using System.Data

@inject IUnionActivityData _db
@inject NavigationManager NavigationManager

<h3>Opret begivenhed</h3>

<div class="col-md-12 col-lg-12" @onclick="() => GoToUAOverview()" style="font-weight: bold; padding: 10px;">
    &lt; Tilbage
</div>

<div style="padding-bottom: 20px">
    <div style="background-color: #3846c0; border-radius: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 10px">
        <EditForm Model="@newUnionActivity" OnSubmit="() => _db.InsertUnionActivity(SubmitUnionActivity(infoCount, pInfoCount, infoFields, pInfoFields, newUnionActivity, testUnionActivity))">
            @if (FirstScreen)
            {
                <div class="InputField" style="max-width: 98.5%;">
                    <label style="color:white;font-weight:600;padding:5px;" for="name">Overskrift</label>
                    <InputText id="name" class="form-control" @bind-Value="newUnionActivity.Name"></InputText>
                </div>
                <div class="InputField" style="max-width: 98.5%;">
                    <label style="color:white;font-weight:600;padding:5px;" for="description">Beskrivelse</label>
                    <InputTextArea id="description" class="form-control textBoxSize" @bind-Value="newUnionActivity.Description"></InputTextArea>
                </div>
                <div class="InputField">
                    <label style="color:white;font-weight:600;padding:5px;" for="dateofactivity">Dato for afholdelse</label>
                    <InputDate id="dateofactivity" @bind-Value="newUnionActivity.DateOfActivity"></InputDate>
                </div>

                <div class="form-check InputField">
                    <InputCheckbox @bind-Value="newUnionActivity.IsYearlyActivity" id="isyearlyactivity"></InputCheckbox>
                    <label style="color:white;font-weight:600;padding:5px;" for="isyearlyactivity">Årstur</label>
                </div>
                <div class="form-check InputField">
                    <InputCheckbox @bind-Value="newUnionActivity.AllowRegistration" id="allowregistration"></InputCheckbox>
                    <label style="color:white;font-weight:600;padding:5px;" for="allowregistration">Tilmelding tilladt</label>
                </div>
                <div class="form-check InputField">
                    <InputCheckbox @bind-Value="newUnionActivity.AllowGroupRegistration" id="allowgroupregistration"></InputCheckbox>
                    <label style="color:white;font-weight:600;padding:5px;" for="allowgroupregistration">Gruppe-tilmelding tilladt</label>
                </div>
                <button style="padding-bottom:10px" class="btn btn-primary" type="button" @onclick="NextScreen">Næste</button>
            }
            @if (!FirstScreen)
            {
                <p>Generel Information</p>
                @foreach (var infoField in infoFields)
                {

                    <div>
                        <InputText class="form-control" @bind-Value="infoField.Name"></InputText>
                    </div>

                }

                <div style="padding-top: 1%;">
                    <button type="button" @onclick="AddNewInformation" class="btn btn-light">Tilføj felt</button>
                    <button type="button" @onclick="RemoveInformation" class="btn btn-light">Fjern felt</button>
                </div>

                <p style="padding-top: 2%">Personlig Information</p>
                <div>
                    <label for="requirename">Navn</label>
                    <InputCheckbox @bind-Value="newUnionActivity.RequireName" id="requirename"></InputCheckbox>
                </div>
                <div>
                    <label for="requireemail">E-mail</label>
                    <InputCheckbox @bind-Value="newUnionActivity.RequireEmail" id="requireemail"></InputCheckbox>
                </div>
                <div>
                    <label for="requirephone">Telefonnummer</label>
                    <InputCheckbox @bind-Value="newUnionActivity.RequirePhonenumber" id="requirephone"></InputCheckbox>
                </div>


                @foreach (var pInfoField in pInfoFields)
                {


                    <div>
                        <InputText class="form-control" @bind-Value="pInfoField.Name"></InputText>
                    </div>

                }




                <div style="padding-top: 1%;">
                    <button type="button" @onclick="AddNewPInformation" class="btn btn-light">Tilføj felt</button>
                    <button type="button" @onclick="RemovePInformation" class="btn btn-light">Fjern felt</button>
                </div>

                <div style="padding-top: 2%; padding-bottom: 0.5%">
                    <button type="button" @onclick="PreviousScreen" class="btn btn-light">Forrige</button>
                    <button type="submit" class="btn btn-light" @onclick="GoToUAOverview">Færdiggør</button>
                </div>



            }

        </EditForm>
    </div> <!--blue box end-->
</div>


@code {



    private List<InformationFieldModel> infoFields = new List<InformationFieldModel>();
    private List<InformationFieldModel> pInfoFields = new List<InformationFieldModel>();

    private DisplayUnionActivityModel newUnionActivity = new DisplayUnionActivityModel();
    //used for unit test
    private UnionActivityModel testUnionActivity = new UnionActivityModel();


    private int NumberOfInformation = 0;
    private int NumberOfPInformation = 0;
    private int infoCount;
    private int pInfoCount;



    public bool FirstScreen = true;


    protected override void OnInitialized()
    {
        //unionActivities.Add(unionActivity);
        newUnionActivity.DateOfActivity = DateTime.Today;
    }







    void AddNewInformation()
    {
        // unionActivities.Add(new UnionActivityModel()); old???
        if (NumberOfInformation < 5)
        {
            NumberOfInformation++;
            infoFields.Add(new InformationFieldModel(""));

        }
    }

    void AddNewPInformation()
    {
        // unionActivities.Add(new UnionActivityModel()); old???
        if (NumberOfPInformation < 5)
        {
            NumberOfPInformation++;
            pInfoFields.Add(new InformationFieldModel(""));

        }
    }

    void RemovePInformation()
    {
        if (NumberOfPInformation > 0)
        {
            NumberOfPInformation--;
            pInfoCount = pInfoFields.Count;
            pInfoFields.RemoveAt(pInfoCount - 1);
        }

    }
    void RemoveInformation()
    {
        if (NumberOfInformation > 0)
        {
            NumberOfInformation--;
            infoCount = infoFields.Count;
            infoFields.RemoveAt(infoCount - 1);
        }
    }

    void Add(string information)
    {

    }

    public static UnionActivityModel SubmitUnionActivity(int infoCount, int pInfoCount, List<InformationFieldModel> infoFields, List<InformationFieldModel> pInfoFields, DisplayUnionActivityModel newUnionActivity, UnionActivityModel testUnionActivity)
    {
        infoCount = infoFields.Count;
        pInfoCount = pInfoFields.Count;

        //make information lists into arrays with 5 strings
        string[] info = new string[] { "", "", "", "", "" };
        for (int i = 0; i < infoCount; i++)
        {
            info[i] = infoFields[i].Name;
        }
        string[] pInfo = new string[] { "", "", "", "", "" };
        for (int i = 0; i < pInfoCount; i++)
        {
            pInfo[i] = pInfoFields[i].Name;
        }
        //create union activity object that is sent to the database
        UnionActivityModel ua = new UnionActivityModel
            {
                Name = newUnionActivity.Name,
                Description = newUnionActivity.Description,
                DateOfActivity = newUnionActivity.DateOfActivity,
                //IsVisible = newUnionActivity.IsVisible
                IsVisible = false,
                RequireName = newUnionActivity.RequireName,
                RequireEmail = newUnionActivity.RequireEmail,
                RequirePhonenumber = newUnionActivity.RequirePhonenumber,
                Information1 = info[0],
                Information2 = info[1],
                Information3 = info[2],
                Information4 = info[3],
                Information5 = info[4],
                PInformation1 = pInfo[0],
                PInformation2 = pInfo[1],
                PInformation3 = pInfo[2],
                PInformation4 = pInfo[3],
                PInformation5 = pInfo[4],
                IsYearlyActivity = newUnionActivity.IsYearlyActivity,
                AllowRegistration = newUnionActivity.AllowRegistration,
                AllowGroupRegistration = newUnionActivity.AllowGroupRegistration
            };



        //await _db.InsertUnionActivity(ua);
        return ua;
        //reset used models and containers
        //newUnionActivity = new DisplayUnionActivityModel();
        //infoFields = new List<InformationFieldModel>();
        //pInfoFields = new List<InformationFieldModel>();
        //info = new string[] { "", "", "", "", ""};

        //NavigationManager.NavigateTo("begivenheder");
    }


    void GoToUAOverview()
    {
        NavigationManager.NavigateTo($"/begivenheder");
    }


    void NextScreen()
    {
        FirstScreen = false;
    }

    void PreviousScreen()
    {
        FirstScreen = true;
    }

}
