@page "/counter"
<PageTitle>Counter</PageTitle>
<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole(ADMINISTRATION_ROLE))
        {
            <h1>Counter</h1>
            <p role="status">Current count: @currentCount</p>
            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not loggged in.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Strings nessesary for finding the roles.
    string ADMINISTRATION_ROLE = "Administrators";
    string EDITOR_ROLE = "Editors";
    
    
    private int currentCount = 0;



    private void IncrementCount()
    {
        currentCount++;
    }
}
