@page "/test"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject IUnionActivityData ua

<h3>test</h3>


@code {
    //private var tests;

    protected override async Task OnInitializedAsync() {
        //tests = ua.GetUnionActivitiesTest();
    }
}
